/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

* {
  box-sizing: border-box;
}
body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.header {
  background-color: #517fa4;
  height: 300px;

}
.brand img {
  margin: 0;
  position: absolute;
  bottom: 730px;
  left: 545px;
  font-size: 30px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #517fa4;
}

main h2 {
  color: #3b5998;
}

.white-box {
    border-radius: 5px;
    /* border-color: black; */
    border: 1px solid black;
    width: 400px;
    height: 400px;
    display: inline-block;
    margin-left: 30px;
    position: relative;
    bottom: 290px;
    background-color: white;
}

.google-button {
    display: inline-block;
    margin-left: 10px;
}

.apple-button {
    display: inline-block;
}

.phone-buttons {
    margin-top: 20px;
    margin-left: 10px;

}

.main-phones {
    display: inline-block;
    height:  600px;
    margin-left: 200px;
}

.main-phones img {
    position: relative;
    bottom: 200px;
}

section {
    position: relative;
}

.white-box h2, .white-box p
{
  margin-left: 20px;
}

nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 15px;
    text-align: center;
}

a {
  padding: 0px 10px 10px 10px; 
}
footer {
    position: fixed;
}
